.room-details__main {
	width: 100%;
	@media screen and (max-width: 767px) {
		overflow-x: hidden;
	}
}

.room-details__header {
	padding-bottom: 0;
}

.room-details__room-images {
	display: flex;
}

.room-details__main-image {
	width: 981px;
	height: 485px;
	background: url('../img/888_1.png');
}

.room-details__secondary-image-1 {
	width: 459px;
	height: 243px;
	background: url('../img/888_2.png');
	@media screen and (max-width: 981px) {
		display: none;
	}
}


.room-details__secondary-image-2 {
	width: 459px;
	height: 242px;
	background: url('../img/888_3.png');
	@media screen and (max-width: 981px) {
		display: none;
	}
}

.room-details__details {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	margin-left: 140px;
	margin-right: 140px;
	margin-bottom: 70px;
	@media screen and (max-width: 1339px) {
		margin-left: 10px;
		margin-right: 10px;
	}
	@media screen and (max-width: 1279px) {
		display: block;
	}
}

.room-details__info {
	display: flex;
	justify-content: space-between;
	@media screen and(max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}
}

.room-details__graph {
	margin-right: 38px;
	@media screen and (max-width: 479px) {
		margin-right: 0;
	}
}

.room-details__reviews {
	margin-top: -6px;
	margin-left: -1px;
	@media screen and (max-width: 767px) {
		width: 95%;
		margin-top: 20px;
	}
	.review__body {
		@media screen and (max-width: 767px) {
			width: 80%;
		}
		@media screen and (max-width: 599px) {
			width: 60%;
		}
		@media screen and (max-width: 479px) {
			width: 35%;
		}
	}
}

.room-details__info-2 {
	display: flex;
	justify-content: space-between;
	margin-top: 33px;
	@media screen and (max-width: 479px) {
		flex-direction: column;
	}
}

.room-details__rules {
	.bullet-list__label {
		@include secondary_font;
		font-size: 19px;
		line-height: 24px;
		padding-left: 20px;
	}

	.bullet-list__options {
		padding-top: 4px;
	}
}

.room-details__discard {
	width: 341px;
	margin-right: 7px;
}

.room-details__discard-title {
	@include secondary_font;
	font-size: 19px;
	line-height: 24px;
	color: $dark;
}

.room-details__discard-body {
	margin-top: 17px;
	@include main_font;
	font-size: 14px;
	line-height: 24px;
	color: $dark75;
	@media screen and (max-width: 479px) {
		width: 80%;
	}
}

.room-details__card {
	@media screen and(max-width: 1279px) {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	@media screen and (max-width: 479px) {
		width: 301px;
		padding-left: 0;
	}
	.card-confirmation__total-decoration {
		@media screen and (max-width: 479px) {
		width: 60px;
		}
	}
	.dropdown__input-group {
		@media screen and (max-width: 479px) {
		width: 300px;
		}
	}
}