.button-dark {
	width: 100px;
	height: 44px;
	border-radius: $button_rounding;
	border: 0;
	background: $primary_gradient;
	text-align: center;
	color: $background_color;
	@include main_font_bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	&:active {
		opacity: 0.5;
	}
}