include ../../pug/mixins.pug

.UI-kit
	.UI-kit-logo
	+header('default')(class='header headerUIdefault')
	+header('Юлий Цезарь')(class='header headerUI')
	+footer()(class='footer footerUI')
	+footer-creative()(class='footer-creative footer-creativeUI')