include ../../pug/mixins.pug
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Landing page
body
	+header('default')(class='landing__header header')
	.landing__main.main
		.landing__main-top
			+card-search()(class='.landing__card-search card-search')
		.landing__main-bottom
			.landing__main-text Лучшие номера для вашей работы, отдыха и просто вдохновения
	+footer()(class='landing__footer footer')