.landing__header {
	padding-bottom: 0;
}


.landing__main {
	max-width: 1440px;
	background: url('../img/lp_bg.png');
	padding-top: 70px;
	padding-left: 140px;
	padding-right: 134px;
	padding-bottom: 20px;
	@media screen and (max-width: 479px) {
		padding-right: 0;
		padding-left: 0;
	}
}

.landing__main-top {
	@media screen and (max-width: 1024px) {
		display: flex;
		justify-content: center;
	}
}

.landing__main-bottom {
	display: flex;
	justify-content: flex-end;
	margin-top: 317px;
	@media screen and (max-width: 1024px) {
		justify-content: center;
	}
	@media screen and (max-width: 479px) {
		margin-top: 30px;
	}
}

.landing__main-text {
	@include main_font;
	font-size: 14px;
	line-height: 24px;
	text-align: right;
	color: $dark75;
	width: 297px;
}