mixin rate-button()
	div(class!=attributes.class)
		.rate-button__stars.rate-button__four
			.rate-button__star star
			.rate-button__star star
			.rate-button__star star
			.rate-button__star star
			.rate-button__star-border star_border
		.rate-button__stars.rate-button__five
			.rate-button__star star
			.rate-button__star star
			.rate-button__star star
			.rate-button__star star
			.rate-button__star star