.rate-button {

}

.rate-button--four {
	.rate-button__five {
		display: none;
	}
	&::after {
		@include material_icon;
		@include text_primary_gradient;
		font-size: 24px;
		content: '\e904 \e904 \e904 \e904 \e905';
	}
}


.rate-button--five {
	.rate-button__four {
		display: none;
	}
	&::after {
		@include material_icon;
		@include text_primary_gradient;
		font-size: 24px;
		content: '\e904 \e904 \e904 \e904 \e904';
	}
}