mixin rate-button()
	div(class!=attributes.class)
		label
			input(class='rate-button__one' type='checkbox', name='rate-button')
			.rate-button--on star
			.rate-button--off star_border
		label
			input(class='rate-button__two' type='checkbox', name='rate-button')
			.rate-button--on star
			.rate-button--off star_border
		label
			input(class='rate-button__three' type='checkbox', name='rate-button')
			.rate-button--on star
			.rate-button--off star_border
		label
			input(class='rate-button__four' type='checkbox', name='rate-button')
			.rate-button--on star
			.rate-button--off star_border
		label
			input(class='rate-button__five' type='checkbox', name='rate-button')
			.rate-button--on star
			.rate-button--off star_border