.card-search {
	@include card_view;
	width: 380px;
	height: 374px;
	padding: {
		left: 30px;
		top: 40px;
		right: 28px;
	}
	@media screen and (max-width: 479px) {
		width: 320px;
		padding: 0;
	}
}

.card-search__title {
	@include card_title;
	@media screen and (max-width: 479px) {
		margin-left: 10px;
	}
}

.card-search__time {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	@media screen and (max-width: 479px) {
		justify-content: center;
	}
}

.card-search__guests {
	margin-top: 21px;
	@media screen and (max-width: 479px) {
		width: 300px;
		margin-left: 10px;
	}
}

.card-search__submit {
	margin-top: 30px;
	@media screen and (max-width: 479px) {
		width: 300px;
		margin-left: 10px;
	}
}