body {
	@media screen and (min-width: 1440px) {
		background: url('../img/background.png');
	}
}

.main {
	@media screen and (min-width: 1440px) {
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
}