mixin filter-date-dropdown(label, value)
	div(class!=attributes.class)
		.filter-date-dropdown__label= label
		input.filter-date-dropdown__input-form(type='text', value=value)
		.filter-date-dropdown__input-form-icon keyboard_arrow_down