.filter-date-dropdown__label {
	@include input_label;
}

.filter-date-dropdown__input-form {
	width: 266px;
	height: 44px;
	background: $background_color;
	border: 1px solid $dark25;
	box-sizing: border-box;
	@include main_font;
	font-size: 14px;
	line-height: 18px;
	color: $dark75;
	padding-left: 14px;
	border-radius: $corner_rounding;
}

.filter-date-dropdown__input-form-icon {
	@include material_icon;
}