mixin card-room(roomNumber_str, quality_str, price_str, stars_num, reviewsQuantity_num)
	div(class!=attributes.class)
		.card-room__main
			.card-room__nav-buttons
				.card-room__button-prev-group
					button.card-room__button-prev
					.card-room__button-prev-icon
				.card-room__button-next-group
					button.card-room__button-next
					.card-room__button-next-icon
			.card-room__nav-map
				.card-room__nav-circle--selected
				.card-room__nav-circle
				.card-room__nav-circle
				.card-room__nav-circle
		.card-room__footer
			.card-room__room-details
				.card-room__room-location
					.card-room__room-number= roomNumber_str
					.card-room__room-quality= quality_str
				.card-room__room-price
					.card-room__price-view
						.card-room__day-price= price_str
						.card-room__rur-symbol &#8381;
					.card-room__unit в сутки
			.card-room__delimiter
			.card-room__review-block
				case stars_num
					when 3
						+rate-button(class='rate-button--three card-room__stars')
					when 4
						+rate-button(class='rate-button--four card-room__stars')
					when 5
						+rate-button(class='rate-button--five card-room__stars')
				.card-room__reviews
					.card-room_reviews-quantity= reviewsQuantity_num
					.card-room_reviews-unit