mixin footer-creative()
	.div(class!=attributes.class)
		.footer-creative__logo
		.footer-creative__copyright Copyright © 2018 Toxin отель. Все права зачищены.
		.footer-creative__social-links
			.footer-creative__social-link.footer-creative__twitter
				a(href='#')
			.footer-creative__social-link.footer-creative__facebook
				a(href='#')
			.footer-creative__social-link.footer-creative__instagram
				a(href='#')