mixin checkbox-button(label_str)
	div(class!=attributes.class)
		label
			input.checkbox-button__true-checkbox(type='checkbox')
			.checkbox-button__checkmark-border
				.checkbox-button__checkmark
			.checkbox-button__label= label_str