.icon-facebook-square:before {
  content: "\f082";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-insert_emoticon:before {
  content: "\e900";
}
.icon-keyboard_arrow_down:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e90a";
}
.icon-keyboard_arrow_right:before {
  content: "\e90b";
}
.icon-keyboard_arrow_up:before {
  content: "\e90c";
}
.icon-arrow_back:before {
  content: "\e908";
}
.icon-arrow_forward:before {
  content: "\e902";
}
.icon-location_city:before {
  content: "\e903";
}
.icon-whatshot:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e904";
}
.icon-star_outline:before {
  content: "\e905";
}
.icon-favorite:before {
  content: "\e906";
}
.icon-favorite_outline:before {
  content: "\e907";
}