@mixin main_font {
	font: {
		family: $main_font;
		style: normal;
		weight: normal;
	}
}

@mixin input_label {
	font: {
		family: $main_font;
		style: normal;
		weight: bold;
		size: 12px;
	}
	line-height: 15px;
	padding-bottom: 5px;
	text-transform: uppercase;
	color: $dark;
}