//Цвета
$dark: #1F2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.50);
$dark25: rgba($dark, 0.25);
$dark10: rgba($dark, 0.10);
$dark05: rgba($dark, 0.05);
$primary: #BC9CFF;
$primary_gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondary: #6FCF97;
$background_color: #FFFFFF;

//разное
$corner_rounding: 4px;
$button_rounding:22px;
$main_font: Montserrat;
$secondary_font: 'Segoe UI';
