//Цвета
$dark: #1F2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.50);
$dark25: rgba($dark, 0.25);
$dark05: rgba($dark, 0.05);
$primary: #BC9CFF;
$secondary: #6FCF97;
$background_color: #FFFFFF;

//разное
$corner_rounding: 4px;