//Цвета
$dark: #1F2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.50);
$dark25: rgba($dark, 0.25);
$dark10: rgba($dark, 0.10);
$dark05: rgba($dark, 0.05);
$primary: #BC9CFF;
$primary_gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primary_gradient25: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$secondary: #6FCF97;
$secondary_gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$third_gradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$fourth_gradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);
$background_color: #FFFFFF;

//разное
$corner_rounding: 4px;
$button_rounding:22px;
$main_font: Montserrat;
$secondary_font: Quicksand, OpenSans;
