.button-form--apply, .button-form--clean {
	background: $background_color;
	border: none;
	padding: 0;
	@include main_font_bold;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
}

.button-form--clean {
	color: $dark50;
}

.button-form--apply {
	color: $primary;
}