.date-dropdown {
	position: relative;
}

.date-dropdown__label {
	@include input_label;
}

.date-dropdown__input-group {
	display: flex;
}

.date-dropdown__input-form {
	width: 150px;
	height: 44px;
	background: $background_color;
	border: 1px solid $dark25;
	@include main_font;
	font-size: 14px;
	line-height: 18px;
	color: $dark75;
	padding-left: 14px;
	padding-top: 11px;
	padding-bottom: 4px;
	border-radius: $corner_rounding;
}

.date-dropdown__icon {
	position: relative;
}

.date-dropdown__icon::before {
	@include input_icon;
	content: '\e901';
	top: 11px;
}

.date-dropdown__calendar {
	position: absolute;
	top: 69px;
}

.date-dropdown--right-handle {
	.date-dropdown__calendar {
		left: -170px;
		@media screen and (max-width: 479px) {
			left: -150px;
		}
	}
}

.date-dropdown__calendar--disabled {
	display: none;
}