mixin date-dropdown(label, value)
	div(class!=attributes.class)
		.date-dropdown__label= label
		.date-dropdown__input-group
			input.date-dropdown__input-form(type='text', value=value)
			.date-dropdown__icon keyboard_arrow_down