mixin bullet-list(label, options)
	div(class!=attributes.class)
		.bullet-list__label= label
		.bullet-list__options
			each option in options
				.bullet-list__option
					.bullet-list__marker
					.bullet-list__content= option