.access__header {
	padding-bottom: 0;
}

.access__main {
	background: url('../img/access_bg2.png');
	background-repeat: no-repeat;
	background-position: 0 -70px;
}

.access__main--registration {
	@extend .access__main;
	padding-top: 19px;
	padding-bottom: 18px;
	padding-left: 5px;
	@media screen and (max-width: 479px) {
		padding: 0;
	}
}

.access__registration {
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: 479px) {
		width: 320px;
		padding: 0;
	}
	input {
		@media screen and (max-width: 479px) {
		margin-left: -1px;
		}
	}
}

.access__main--login {
	@extend .access__main;
	padding-top: 172px;
	padding-bottom: 171px;
	display: none;
	@media screen and (max-width: 479px) {
		padding: 0;
		overflow-x: hidden;
	}
}

.access__login {
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: 479px) {
		width: 320px;
		padding-left: 0;
	}
	input {
		@media screen and (max-width: 479px) {
		margin-left: -1px;
		}
	}
	.button-decorated__button {
		@media screen and (max-width: 479px) {
		margin-left: -1px;
		width: 316px;
		}
	}
}