include ../../pug/mixins.pug
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	+header('default')(class='access__header header')
	.access__main--registration.main
		+card-registration()(class='access__registration card-registration')
	.access__main--login.main
		+card-login()(class='access__login card-login')
	+footer()(class='access__footer footer')